@import url("https://fonts.googleapis.com/css2?family=Parisienne&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amiri&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap");
html {
  width: 80%;
  margin: auto;
}
body {
  margin: 0;
  background-color: #ddd;
}
.logo {
  margin-top: 30px;
  cursor: pointer;
}

.delicious {
  font-family: "Parisienne", cursive;
  font-size: 2rem;
  margin: 35px 0 0 10px;
  padding: 0;
  line-height: 90%;
}

.best-food-blog {
  margin: 0 0 0 10px;
  padding: 0;
  font-family: "Dosis", sans-serif;
}
.d-flex {
  display: flex;
}
header nav section ul {
  list-style: none;
  margin-top: 35px;
  position: absolute;
  right: 0;
}
header nav section ul li {
  display: inline;
  cursor: pointer;
}

#rss-icon {
  margin: 0 0 0 10px;
}
nav {
  display: flex;
  flex-direction: row;
  position: relative;
}

header hr {
  border-top: 10px solid #8c8b8b;
  border-bottom: 1px solid #fff;
  margin-top: 2%;
}
main hr {
  border-top: 10px solid #8c8b8b;
  border-bottom: 1px solid #fff;
}
.chocolate-pizza {
  font-family: "Oswald", sans-serif;
  font-weight: bolder;
  margin: 44px 0 5px 0px;
  font-size: 2.5rem;
}
.posted-date {
  font-family: "Dosis", sans-serif;
  font-weight: 400;
  margin: 0 0 0 0px;
}
.choco-pizza {
  margin: 30px 0 0 0px;
  width: 100%;
}
main article p {
  display: flex;
  font-family: "Amiri", serif;
  line-height: 1.4rem;
  font-size: 1.3rem;
  margin: 7px;
}
main article {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin-top: 4%;
  margin-left: 2.5%;
}
main section img {
  width: 100%;
  margin-top: 25px;

  margin-bottom: 30px;
}
main {
  position: relative;
}
.fas {
  position: absolute;
  right: 0px;
  font-size: 12px;
  cursor: pointer;
}
.fas span {
  font-family: "Dosis", sans-serif;
}
main section div ul li {
  list-style: none;
  font-family: "Patrick Hand", cursive;
}

.container-items {
  position: relative;
  margin: 0;
  color: rgb(102, 98, 83);
}
.li1 li:first-child {
  position: absolute;
  top: 42px;
  left: 55px;
  font-size: 25px;
}
.li1 li:nth-child(2) {
  position: absolute;
  top: 80px;
  left: 55px;
  font-size: 25px;
}
.li1 li:nth-child(3) {
  position: absolute;
  top: 118px;
  left: 55px;
  font-size: 25px;
}
.li1 li:nth-child(4) {
  position: absolute;
  top: 155px;
  left: 55px;
  font-size: 25px;
}
.li1 li:nth-child(5) {
  position: absolute;
  top: 190px;
  left: 55px;
  font-size: 25px;
}
.li1 li:nth-child(6) {
  position: absolute;
  top: 230px;
  left: 55px;
  font-size: 25px;
}

.li2 li:first-child {
  position: absolute;
  top: 42px;
  left: 600px;
  font-size: 25px;
}

.li2 li:nth-child(2) {
  position: absolute;
  top: 80px;
  left: 600px;
  font-size: 25px;
}

.li2 li:nth-child(3) {
  position: absolute;
  top: 118px;
  left: 600px;
  font-size: 25px;
}
.li2 li:nth-child(4) {
  position: absolute;
  top: 155px;
  left: 600px;
  font-size: 25px;
}
.li2 li:nth-child(5) {
  position: absolute;
  top: 190px;
  left: 600px;
  font-size: 25px;
}
footer img {
  margin-top: 15px;
  border-radius: 100px;
}
footer h4 {
  color: rgb(102, 98, 83);
  margin-bottom: -1%;
  font-size: 1.3rem;
  margin-top: 2%;
}
.footer-p {
  display: flex;
  flex-direction: column;
  width: 100%;
}
footer section {
  display: flex;
  flex-direction: row;
  width: 100%;
}
footer section {
  display: flex;
  flex-direction: row;
  width: 100%;
}
button {
  background-color: #bc7058;
  width: 200px;
  height: 50px;
  color: #ddd;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  margin-top: 19%;
}
#img-container {
  width: 9%;
}
.share-rec {
  width: 22%;
  vertical-align: middle;
}
footer p {
  width: 76%;
  font-family: "Amiri", serif;
  font-size: 1.3rem;
  line-height: 20px;
  margin-top: 2%;
}
footer hr {
  display: block;
  margin-top: 3%;
}

.div-copyRights h3 {
  font-weight: normal;
  margin-bottom: -1%;
  font-family: "Amiri", serif;
  margin-top: 2%;
}
.div-copyRights {
  display: flex;
  flex-direction: column;
  text-align: center;
  opacity: 60%;
}
footer {
  position: relative;
}
.last-logo {
  position: absolute;
  margin-left: 48%;
  margin-top: 1%;
  border-radius: 0;
}
footer h3:first-child {
  margin-top: 4%;
}
input[type="checkbox"]:checked + label {
  text-decoration: line-through;
  opacity: 30%;
}
